.cards {
    width: 250px;
    background-color:orange;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}
#button {
    color: white;
    background-color: orange;
    border-radius: 20px;
}